*.meta
Survival Circle/Assets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf
Survival Circle/Assets/TextMesh Pro/Fonts/LiberationSans - OFL.txt
Survival Circle/Assets/TextMesh Pro/Fonts/LiberationSans.ttf
Survival Circle/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat
Survival Circle/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Survival Circle/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Outline.mat
Survival Circle/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Survival Circle/Assets/TextMesh Pro/Resources/LineBreaking Following Characters.txt
Survival Circle/Assets/TextMesh Pro/Resources/LineBreaking Leading Characters.txt
Survival Circle/Assets/TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset
Survival Circle/Assets/TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset
Survival Circle/Assets/TextMesh Pro/Resources/TMP Settings.asset
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_Bitmap-Custom-Atlas.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_Bitmap-Mobile.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_Bitmap.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF Overlay.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF SSD.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile Masking.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile Overlay.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile SSD.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF-Mobile.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF-Surface-Mobile.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF-Surface.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_SDF.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMP_Sprite.shader
Survival Circle/Assets/TextMesh Pro/Shaders/TMPro.cginc
Survival Circle/Assets/TextMesh Pro/Shaders/TMPro_Mobile.cginc
Survival Circle/Assets/TextMesh Pro/Shaders/TMPro_Properties.cginc
Survival Circle/Assets/TextMesh Pro/Shaders/TMPro_Surface.cginc
Survival Circle/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt
Survival Circle/Assets/TextMesh Pro/Sprites/EmojiOne.json
Survival Circle/Assets/TextMesh Pro/Sprites/EmojiOne.png
